<!DOCTYPE html>
<html>
  <%- include("particals/head")%>
  <body onbeforeprint="removePage()" onafterprint="showPage()">
  <%- include('particals/nav')%>
  <div class="container">
  <%- include("particals/booking")%>
   <%- include("particals/script")%>
  </div>
  </body>
</html>
