<html>
<%- include("particals/head")%>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#billNav" aria-controls="billNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="billNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/waiter">Waiter</a></li>

        </ul>
        <form action="/waiter/logout" method="get" class="form-inline my-2 my-md-0 float-right">
            <button class="btn btn-light" type="submit">Logout</button>
        </form>


    </div>

</nav>



<div class="container text-center">
    <div class="row text-center">

        <form action="/waiter/login" method="post" id="login-form" class="form-group col-md-12">
            <h2>Login</h2>
            <p>Username</p>
            <input type="text" class="form-control col-xs-4" name="username" id="login-form-user"/>
            <br>
            <p>Password</p>
            <input type="password" class="form-control col-xs-4" name="password" id="login-form-pass">
            <br>
            <button type="submit" class="btn btn-primary" id="login-form-button">Submit</button>
        </form>
        <br>
        <br>
    </div>
    <%if(login === true){%>
        Press this link to return to parent directory <a href="/waiter">Waiter</a> or wait for redirect<script>
            var count = 6;
            function redirectClient(){
                var numTi = document.getElementById("numTi");
                if(count > 0){
                    count--;
                    numTi.innerHTML = "Redirect in "+count+" seconds.";
                    setTimeout("redirectClient()", 1000);
                }else{
                    window.location.href = "/waiter";
                }
            }
        </script> <span id="numTi"><script type="text/javascript">redirectClient();</script></span>;

    <%} else{}%>
</div>

</body>

</html>