<html>
<head></head>
<body>
<form action="/orders/login" method="post" id="login-form">
    <p>Username</p>
    <input type="text" class="form-control col-xs-4" name="username" id="login-form-user"/>
    <br>
    <p>Password</p>
    <input type="password" class="form-control col-xs-4" name="password" id="login-form-pass">
    <br>
    <button type="submit" class="btn btn-primary" id="login-form-button">Submit</button>
</form>
</body>

</html>