<html>
<%- include("particals/head")%>
<body>
<%- include("particals/nav")%>
<div class="container text-center">
    <div class="row text-center">

<form action="/orders/login" method="post" id="login-form" class="form-group col-md-6">
    <h2>Login</h2>
    <p>Username</p>
    <input type="text" class="form-control col-xs-4" name="username" id="login-form-user"/>
    <br>
    <p>Password</p>
    <input type="password" class="form-control col-xs-4" name="password" id="login-form-pass">
    <br>
    <button type="submit" class="btn btn-primary" id="login-form-button">Submit</button>
</form>
<br>
<br>
<form action="/orders/register" method="post" class="form-group col-md-6">
    <h2>Register</h2>
    <label for="name">Name</label>
    <input name="name" class="form-control col-xs-4" id="name" placeholder="John Doe">
    <br>
    <label for="username">Username</label>
    <input name="username" class="form-control col-xs-4" id="username" placeholder="JohnDoe">
    <br>
    <label for="password">Password</label>
    <input name="password" class="form-control col-xs-4" id="password" placeholder="Secret123">
    <label for="role">Role</label>
    <input name="role" class="form-control col-xs-4" id="role" placeholder="">

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
</form>
    </div>
</div>
</body>

</html>