<!DOCTYPE html>
<html>
<%- include('particals/head')%>
<body>
<%- include('particals/nav')%>


<div class="container">
    <%- include("particals/search")%>
   <%- include("particals/order")%>


</div>

</body>

</html>