<!DOCTYPE html>
<html>

<head>
	<title>Waiter View</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="waiter.js">
</head>

<body>

<nav>
	<h1>Paperless App</h1>
	<p>Hi name</p>
</nav>

<table border="1">
	<tr>
		<th>Table Number: 12</th>
	</tr>
	<tr>
		<th>Menu ID</th>
		<th>Item</th>
		<th>Item Notes</th>
		<th>Quantity</th>
	</tr>
	<tr>
		<td>101</td>
		<td>Chicken fried rice</td>
		<td>No rice</td>
		<td>2</td>
	</tr>
		<tr>
		<td>301</td>
		<td>Pepsi</td>
		<td></td>
		<td>1</td>
	</tr>
</table>
<input type="button" onclick="addItem()" value="+ more items">
<br>
<label for="notes">Notes:</lablel>
<input type="label" id="notes">
<br>
<input type="submit" onclick="submit()" value="submit">

</body>

</html>