<form action="/orders/search" class="form-inline mt-2 mb-2">
    <label for="search">Table Number: </label>
    <input type="search" id="search" name="q" class="form-control w-50">
    <input type="submit" value="Search" class="btn btn-primary mx-2">
</form>