html, body {
	margin: 0px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
}
body { background-color: rgba(0, 0, 0, 0.1); }

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;

}
h1, h2 { display: inline-block; margin: 0px; }
header span { display: inline-block; }
header p { display: inline-block; font-size: 25pt; margin: 0px; }

main {
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

article {
	padding: 10px;
	margin: 8px;
	border: 1px solid rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.1);
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
	min-width: 300px;
}

article h2 { margin-bottom: 12px; }
article table h2 { margin: 0px; }
article table { width: 100%; border-collapse: collapse; text-align: left; }
article table td { padding: 2px; }
article table td:last-of-type, article table th:last-of-type { text-align: right; }

article .items table td:last-of-type { display: flex; }
article .items table td:last-of-type input[type="button"] { flex-grow: 1; }
article .items { background-color: #FFFFFF; padding: 8px; border-radius: 5px; }
article .info { background-color: #FFFFFF; padding: 8px; border-radius: 5px; margin-top: 16px; }

article .info input[type="button"] {
	margin: 0px auto;
	display: block;
}

.complete { background-color: #88ff88; }
.elapsed { background-color: rgba(255, 0, 0, 0.4); }